Debug
Debug/*
Release
Release/*
crblib/proj/Debug
crblib/proj/Debug/*
crblib/proj/Release
crblib/proj/Release/*
Interface
Distrib
*.suo
*.plg
*.opt
*.obj
*.o
*.ncb
*.aps
*.user
*.png
*.blp
*.lib
*.exe