<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WDB2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WDB2.My.MySettings>
            <setting name="LocalString" serializeAs="String">
                <value>esMX:enGB:deDE:frFR:esES:rURU:enUS</value>
            </setting>
            <setting name="WOWDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="WOWLocal" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocalFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="WDBLoc" serializeAs="String">
                <value/>
            </setting>
            <setting name="WDBString" serializeAs="String">
                <value>24:22:12IIU3U4:9506:1</value>
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="CurrentMaxItem" serializeAs="String">
                <value>44963</value>
            </setting>
            <setting name="UpdateLocation" serializeAs="String">
                <value>http://www.mmowned.com/forums/model-editing-guides-programs/208624-model-swapper-glitchy-3-0-compatible.html</value>
            </setting>
            <setting name="LastArmory" serializeAs="String">
                <value>http://www.wowarmory.com/</value>
            </setting>
            <setting name="CurrentV" serializeAs="String">
                <value>1</value>
            </setting>
        </WDB2.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
